* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f4f4f4;
  font-family: "Kulim Park", sans-serif;
  font-weight: 400;
  padding: 3rem 2rem 5rem 2rem;
  align-items: center;
  text-align: center;
}

h1 {
  color: #d77138;
  font-size: clamp(2rem, 3vw, 3.4rem);
  margin-bottom: clamp(2rem, 3vw, 3.4rem);
}

.note {
  margin-bottom: clamp(4rem, 4vw, 5rem);
  color: #909090;
  font-size: clamp(1rem, 2vw, 2rem);
}

ul {
  line-height: clamp(3rem, 4.6vw, 5.2rem);
  list-style: none;
  padding-bottom: 5rem;
}

li {
  font-size: clamp(1.6rem, 2vw, 3rem);
}

.song-title {
  text-decoration: none;
  color: #202020;
}

/* LYRICS */

.song {
  color: #a1562c;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.link {
  color: #909090;
  margin-top: clamp(2rem, 3vw, 3.8rem);
  margin-bottom: 2rem;
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 2rem);
}

.info {
  font-size: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(1rem, 2vw, 2rem);
  margin-bottom: clamp(0.6rem, 1vw, 1rem);
}

.lyrics {
  margin-top: 2rem;
  font-size: clamp(1.6rem, 2vw, 3rem);
  line-height: clamp(2.2rem, 3.2vw, 4rem);
  color: #202020;
  margin-bottom: 5rem;
}

.chi {
  line-height: clamp(2.6rem, 3vw, 4.4rem);
}

.btn-back {
  color: #909090;
  text-decoration: none;
  font-size: clamp(1.6rem, 2vw, 3rem);
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
